
.todoList__wrapper {
  font-family: "Roboto Light", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &-list_items{
    margin: 0 auto 15px;
    width: 650px;
    padding: 50px;
    border: 1px solid royalblue;
    border-radius: 6px;
  }
  &-input {
    width: 250px;
    font-size: 14px;
    padding: 4px 9px 4px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 15px auto;
    background-color: var(--input-todo-background-color);
    color: var(--color);
  }
  &-item {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 7px;
    margin: 0 auto 15px;
    border-radius: 6px;
    &__delete_btn {
      font-family: "Roboto Light", sans-serif;
      background-color: #fff;
      border: 1px solid red;
      color: red;
      padding: 3px 10px;
      font-size: 12px;
      border-radius: 6px;
      cursor: pointer;
      transition: .2s;
      opacity: 0;
      &:hover {
        background-color: red;
        color: #fff;
      }
    }

    &:hover &__delete_btn {
      opacity: 1;
    }
  }
  &-item:last-child {
    margin: 0 auto;
  }
  &-item.notReady{
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, 0.2);
  }
  &-item.ready{
    color: green;
    background-color: rgba(0, 128, 0, 0.2);
    border: 1px solid rgba(0, 128, 0, 0.2);
  }

}

.button {
  font-family: "Roboto Light", sans-serif;
  background-color: #fff;
  border: 1px solid royalblue;
  color: royalblue;
  padding: 5px 30px;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  transition: .2s;
  &:hover {
    background-color: royalblue;
    color: #fff;
  }
}


.eidtable_input {
  font-family: "Roboto Light", sans-serif;
  background-color: transparent;
  color: red;
  border: none;
  font-size: 16px;
}

