* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html[data-theme='light'] {
    --test-color: #fff;
    --input-todo-background-color: rgba(255,255,255,.7);
    --color: #000;
}

html[data-theme='dark'] {
    --test-color: #09161c;
    --input-todo-background-color: #222d33;
    --color: rgba(255,255,255,.7);
}

/*
:root {
    --main-font:
}
*/


html {
    background-color: var(--test-color);
}


.error-input {
    border: 1px solid red;
}

.error {
    color: red;
    text-align: center;
}

.main__wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.todoList__wrapper-container__items-info {
    color: var(--color);
}
/*
.main__wrapper-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}*/
.main__wrapper-user_settings,
.main__wrapper-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.main__wrapper-content {
    width: 100%;
}

.main__wrapper-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.buttons {
    font-family: "Roboto Light", sans-serif;
    background-color: #fff;
    border: 1px solid royalblue;
    color: royalblue;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: .2s;
    margin-left: 10px;
}

.link_button {
    font-family: "Roboto Light", sans-serif;
    background-color: #fff;
    border: 1px solid royalblue;
    color: royalblue;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: .2s;
    margin-top: 10px;
    text-decoration: none;
}

/*.link_button.active {}*/

.buttons:hover,
.link_button:hover,
.link_button.active,
.buttons.active {
    background-color: royalblue;
    color: #fff;
}
